# Ignore node_modules directories
client/node_modules/
server/node_modules/

# Ignore environment files
client/.env
server/.env

# Ignore package-lock files
client/package-lock.json
server/package-lock.json

server/public/*